<tr>
    <td valign="top" class="conftext">
        <input type="hidden" name="confbools[blMallInherit_trwslider]" value="0" />
        <input type="checkbox" name="confbools[blMallInherit_trwslider]" value="1" [{if $confbools.blMallInherit_trwslider}]checked="checked"[{/if}] [{$readonly}] />
    </td>
    <td valign="top" class="conftext" width="100%">
        [{oxmultilang ident="SHOP_MALL_MALLINHERIT_TRWSLIDER"}]
    </td>
</tr>
[{$smarty.block.parent}]