[{$smarty.block.parent}]
[{if $bottom_buttons->slider_new}]
    <li><a [{if !$firstitem}]class="firstitem"[{assign var="firstitem" value="1"}][{/if}] id="btn.new" href="#" onclick="top.oxid.admin.editThis( -1 );return false;" target="edit">[{ oxmultilang ident="TOOLTIPS_NEWSLIDER" }]</a> |</li>
[{/if}]
